.container {
    width: 100%;
    background: #efefef;
    color: black;
    height: 85vh;
    padding: 10px;

}

.chooseSensor {
    background: #fff;
    border-radius: 10px;
    margin: 10px;
}

.title {
    margin: 5px 10px;
    font-size: 3em;
    font-weight: bold;
}

.secondTitle {
    margin: 5px 10px;
    font-size: 2em;
    font-weight: bold;

}

.subTitle {
    margin: 5px 10px;

}

.overall {
    display: flex;
    align-items: center;
}

.overall>* {
    display: flex;
    flex: 1;
}

.overall>div {
    justify-content: right;
    margin: 10px;
}


.overall form select {
    padding: 10px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2)
}

.listDevices {
    display: flex;
}

.listDevices>* {
    flex: 1;
    min-width: 0;
}

.valueCard {
    display: flex;
}

.valueCard>* {
    flex: 1;
}