.container {
    width: 100%;
    color: black;
    height: 85vh;
    padding: 20px;

}


.yourRoom {
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

.yourRoom>div:first-child {
    font-size: 1.1em;
}

.listOfRooms {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

}

.chooseSensor {
    background: #fff;
    border-radius: 10px;
    margin: 10px;
}

.title {
    margin: 5px 0px;
    font-size: 3em;
    font-weight: bold;
}

.secondTitle {
    margin: 5px 0px;
    font-size: 2em;
    font-weight: bold;

}

.subTitle {
    margin: 5px 0px;
    font-size: 1.1em;
}

.overall {
    display: flex;
    align-items: center;
}

.overall>* {
    display: flex;
    flex: 1;
}

.overall>div {
    justify-content: right;
    margin: 10px;
}


.overall form select {
    padding: 10px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2)
}

.listDevices {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.listDevices>* {
    flex: 1;
    min-width: 0;
}

.valueCard {
    display: flex;
}

.valueCard>* {
    flex: 1;
}