.container {
    width: 100%;
    color: black;
    height: 85vh;
    padding: 20px;

}

.roomContainer {
    display: flex;
    flex-direction: column;
}

.yourRoom {
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

.yourRoom>div:first-child {
    font-size: 1.1em;
}

.listOfRooms {
    display: grid;

    grid-template-columns: repeat(1, 1fr);
    gap: 10px;

}

.chooseSensor {
    background: #fff;
    border-radius: 10px;
    margin: 10px;
}

.title {
    margin: 5px 0px;
    font-size: 3em;
    font-weight: bold;
}

.secondTitle {
    margin: 5px 0px;
    font-size: 2em;
    font-weight: bold;

}

.subTitle {
    margin: 5px 0px;
    font-size: 1.1em;
}

.editNameBox {
    padding: 10px;
    background: #fff;
    box-shadow: 2px 2px #e5e7eb;
}

.button {
    all: unset;
    padding: 5px 10px;
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    flex: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    border-radius: 10px;
    margin: 0 3px;
    line-height: 1;

    box-sizing: border-box;

    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
}

.editName {
    font-size: 1.3em;
    margin-right: 10px;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    appearance: none;
    border: none;
    border-radius: 5px;
    flex: 8;
    min-width: 0;
}



/* dont need */
.overall {
    display: flex;
    align-items: center;
}

.overall>* {
    display: flex;
    flex: 1;
}

.overall>div {
    justify-content: right;
    margin: 10px;
}


.overall form select {
    padding: 10px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2)
}

.listDevices {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.listDevices>* {
    flex: 1;
    min-width: 0;
}

.valueCard {
    display: flex;
}

.valueCard>* {
    flex: 1;
}