.container {
    display: flex;
    background: white;
    width: 100%;
    height: 15vh;
    align-items: center;
    position: sticky;

    /* 2. Tell it WHERE to stick (0 pixels from the top of the content area) */
    top: 0;

    /* 3. Keep it on top! */
    z-index: 30;
}


.leftHeader {
    flex: 1;
    margin: 10px;
}


.leftHeader>i {
    font-size: 24px;
    cursor: pointer;
    color: #1100ff
}

.midHeader {
    color: black;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.midHeader *:first-child {
    font-size: 1.5em;
    color: #1100ff;
    font-weight: bold;
}

.rightHeader {
    flex: 1;
}