.container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: white;
    color: black;
    width: 20%;
    height: 100vh;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    align-items: center;
}